.loginContainer{
@apply flex flex-col justify-center;
    width:460px;
    height: 312px;
    gap:48px;
    padding: 24px, 40px, 40px, 40px;
    border: 1px #343A40;
    border-radius: 17px;
    background: linear-gradient(138.97deg, #111214 5.16%, #121212 105.18%);
}
.loginTop{
@apply flex justify-center items-center flex-col;
  gap:32px;
    font-family: Open Sans;
font-size: 20px;
font-weight: 600;
line-height: 31px;
text-align: center;

}
.signupContainer{
    @apply flex items-center justify-center;
    width: 380px;
height: 48px;
padding: 8px 16px 8px 16px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 26.1px;
letter-spacing: -0.30000001192092896px;
text-align: center;
border: 1px solid #707172

}
.signinContainer{
    @apply flex items-center justify-center;
  
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24.8px;
text-align: center;
color: #909296;
gap:4px;
;

}
.signin{
  
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24.8px;
text-align: center;
color: #C1C2C5;

;
}
.button{
    font-family: Open Sans;
font-size: 14px;
font-weight: 600;
line-height: 21.7px;
text-align: left;

 background: linear-gradient(91.73deg, #4B63DD -2.99%, rgba(5, 36, 191, 0.99) 95.8%);
 width: 195px;
    height: 48px;
    padding: 13px 35px 13px 35px;

    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    
}